/* body{
    background-color: aqua;
} */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card-img-top{
    border-radius: 1 rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body d-flex flex-column{
    padding: 0 !important;
}

/* styles.css */

.card-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #007bff;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.alert-heading{
    text-align: center;
}

.show-image{
    height: 30vh;
}